In [1]:
import numpy as np
import pandas as pd

import pickle as pkl

import gc
from sklearn.model_selection import KFold
from cuml.metrics import mean_absolute_error, mean_squared_error

import seaborn as sns

In [2]:
out_base_path = '/media/hiroki/working/kaggle/trends-neuroimaging/models'

In [45]:
OUTPUT_DICT = ''

ID = 'Id'
TARGET_COLS = ['age', 'domain1_var1', 'domain1_var2', 'domain2_var1', 'domain2_var2']
SEED = 2020

N_FOLD = 5

In [46]:
base_path2 = '/media/hiroki/share/kaggle_data/trends-assessment-prediction/tf_data'
fnc = pd.read_csv(base_path2+'/pca'+'/fnc_pca.csv', dtype={'Id':str})

In [47]:
fnc

,Id,fnc_pc0,fnc_pc1,fnc_pc2,fnc_pc3,fnc_pc4,fnc_pc5,fnc_pc6,fnc_pc7,fnc_pc8,...,fnc_pc140,fnc_pc141,fnc_pc142,fnc_pc143,fnc_pc144,fnc_pc145,fnc_pc146,fnc_pc147,fnc_pc148,fnc_pc149
0,10001,-1.961551,-0.485225,-0.670020,1.212889,0.409934,0.487359,1.189886,-0.261129,-0.383694,...,-0.152955,0.219027,0.001179,-0.058451,-0.388662,-0.241710,-0.224239,0.056872,0.079370,-0.029729
1,10002,-1.448180,-0.842191,1.347716,0.998952,-0.676541,1.896923,-1.724112,1.363872,-0.607255,...,0.005318,-0.118583,-0.179065,-0.381546,-0.060484,-0.037991,-0.434464,0.299034,0.079064,-0.250063
2,10003,2.171379,2.326819,0.225514,-0.331408,-0.357247,0.942099,0.798029,0.832021,-0.016355,...,-0.270566,-0.071504,0.190468,0.097928,-0.165759,0.202768,0.185363,-0.172570,0.180270,0.120484
3,10004,-1.329180,-1.249583,-1.083893,0.502805,0.342004,0.647636,0.278333,-0.210237,-1.070481,...,0.041355,-0.013931,-0.005913,0.202989,0.099073,0.028089,-0.011903,0.235919,-0.014796,-0.277931
4,10005,-0.529954,-1.398190,0.681371,-1.682729,-0.303318,0.195572,0.066610,-0.242811,0.184964,...,0.003979,-0.372342,0.207945,-0.128819,0.251851,-0.114924,0.014899,0.494779,-0.054188,-0.176513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11749,21750,-2.350324,1.648000,-0.927615,0.117542,1.559609,-2.032101,1.383177,0.035699,0.617114,...,-0.288717,-0.264649,-0.196736,-0.136057,0.357413,0.516544,0.013619,0.252955,0.160745,0.030227
11750,21751,-2.329617,1.181427,0.937928,0.491918,-1.279864,0.613415,-0.602446,1.252948,0.537355,...,-0.200811,-0.126997,0.073071,-0.389314,0.116944,-0.080405,-0.344519,0.376230,-0.503913,0.371715
11751,21752,0.510884,-0.057276,0.287525,-0.521297,0.757172,-1.407868,0.819166,1.451422,-1.359513,...,0.381169,0.085059,-0.440243,0.101484,0.088927,-0.123115,0.510575,-0.071335,-0.245805,-0.324772
11752,21753,-1.011531,0.018191,1.721427,0.169492,-0.582768,2.965149,-0.309082,-0.524228,-0.979986,...,0.013681,0.238372,-0.051911,-0.141730,-0.179993,0.056803,-0.180495,0.289223,0.096482,-0.170355
11753,21754,-2.432370,2.732529,-0.782757,0.437757,0.929428,0.063222,0.491167,0.193415,0.391765,...,0.277565,-0.020386,-0.022963,0.065274,0.035985,-0.266117,-0.181076,-0.115576,-0.213719,0.121039

In [19]:
base_path = '/media/hiroki/share/kaggle_data/trends-assessment-prediction/'
train = pd.read_csv(base_path+'train_scores.csv', dtype={'Id':str})\
            #.dropna().reset_index(drop=True) # to make things easy
reveal_ID = pd.read_csv(base_path+'reveal_ID_site2.csv', dtype={'Id':str})
ICN_numbers = pd.read_csv(base_path+'ICN_numbers.csv')
loading = pd.read_csv(base_path+'loading.csv', dtype={'Id':str})
#fnc = pd.read_csv(base_path+'fnc.csv', dtype={'Id':str})
sample_submission = pd.read_csv(base_path+'sample_submission.csv', dtype={'Id':str})

In [21]:
fnc_features, loading_features = list(fnc.columns[1:]), list(loading.columns[1:])

In [22]:
sample_submission['ID_num'] = sample_submission[ID].apply(lambda x: int(x.split('_')[0]))
test = pd.DataFrame({ID: sample_submission['ID_num'].unique().astype(str)})
del sample_submission['ID_num']; gc.collect()
test.head()

      Id
0  10003
1  10006
2  10010
3  10011
4  10012

In [23]:
test.head()

      Id
0  10003
1  10006
2  10010
3  10011
4  10012

In [24]:
# merge
train = train.merge(loading, on=ID, how='left')
train = train.merge(fnc, on=ID, how='left')
train

,Id,age,domain1_var1,domain1_var2,domain2_var1,domain2_var2,IC_01,IC_07,IC_05,IC_16,...,loading_ic16,loading_ic17,loading_ic18,loading_ic19,loading_ic20,loading_ic21,loading_ic22,loading_ic23,loading_ic24,loading_ic25
0,10001,57.436077,30.571975,62.553736,53.325130,51.427998,0.006070,0.014466,0.004136,0.000658,...,0.011901,0.012944,0.004168,-0.027746,-0.007110,-0.014368,-0.007921,0.001459,-0.010855,-0.008046
1,10002,59.580851,50.969456,67.470628,60.651856,58.311361,0.009087,0.009291,0.007049,-0.002076,...,0.011596,0.005255,-0.002573,-0.006561,-0.014418,-0.003846,-0.000545,-0.001176,0.000073,0.003764
2,10004,71.413018,53.152498,58.012103,52.418389,62.536641,0.004675,0.000957,0.006154,-0.000429,...,0.013933,-0.012323,0.007471,0.001752,0.006400,-0.005558,-0.000138,0.004138,0.005384,0.000807
3,10005,66.532630,NaN,NaN,52.108977,69.993075,-0.000398,0.006878,0.009051,0.000369,...,0.015319,0.004026,0.001321,-0.004068,0.005592,0.022580,0.006846,-0.002074,-0.000217,-0.000809
4,10007,38.617381,49.197021,65.674285,40.151376,34.096421,0.005192,0.010585,0.012160,-0.000920,...,0.010336,-0.001665,0.004278,0.009058,0.003665,-0.004790,-0.000729,-0.012370,0.000837,-0.001428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5872,21746,14.257265,21.358872,61.165998,51.778483,54.640179,-0.001115,0.007108,0.008652,0.003596,...,-0.005541,-0.007922,0.014768,-0.017011,0.004313,-0.003999,-0.002753,0.002355,0.003628,0.006062
5873,21747,55.456978,68.169675,29.907995,55.349257,54.019517,0.007263,0.016489,0.012704,0.004357,...,0.010139,0.023225,-0.001261,0.003943,-0.003352,-0.010794,-0.011256,0.017737,0.002923,0.001077
5874,21750,48.948756,55.114811,60.878271,38.617246,50.679885,0.005996,0.003873,0.012353,0.000242,...,0.013025,-0.002062,0.000048,-0.002356,-0.000126,0.004206,-0.007077,0.002482,0.011637,-0.002715
5875,21752,66.532630,59.844808,72.303110,55.458281,46.870235,0.000627,0.011407,0.010957,0.000534,...,0.000185,0.004984,-0.008129,-0.003333,-0.005057,0.009138,0.000480,0.004383,0.011837,0.006114
5876,21754,68.820928,56.594193,34.605868,49.922535,50.383078,0.010670,0.010670,0.006662,-0.002215,...,0.000051,0.010425,-0.001083,0.003168,-0.009605,0.006729,-0.002767,0.002926,-0.000360,0.003798

In [25]:
# merge
test = test.merge(loading, on=ID, how='left')
test = test.merge(fnc, on=ID, how='left')
test

,Id,IC_01,IC_07,IC_05,IC_16,IC_26,IC_06,IC_10,IC_09,IC_18,...,loading_ic16,loading_ic17,loading_ic18,loading_ic19,loading_ic20,loading_ic21,loading_ic22,loading_ic23,loading_ic24,loading_ic25
0,10003,0.008151,0.014684,0.010444,-0.005293,-0.002913,0.015042,0.017745,0.003930,-0.008021,...,0.011750,0.004826,-0.011451,-0.025925,-0.014083,-0.002364,-0.018872,-0.008664,-0.007671,-0.008011
1,10006,0.000334,0.005311,0.010053,0.006920,-0.000065,0.015310,0.016543,0.004794,0.003982,...,-0.000239,-0.003453,-0.004043,0.000006,0.009800,-0.000728,-0.004620,-0.005824,-0.013846,0.003618
2,10010,0.007103,0.006144,0.009770,-0.002884,-0.001346,0.015651,0.011613,-0.003291,0.013423,...,0.003672,-0.009912,0.007347,0.015167,-0.003158,-0.004302,0.002280,-0.008271,-0.011634,0.011546
3,10011,0.004362,0.010240,0.010167,0.004492,-0.001623,0.017381,0.014680,0.007453,0.008786,...,-0.027002,0.000707,-0.010870,-0.009493,0.000243,-0.003977,-0.001223,0.005223,0.006991,0.011646
4,10012,-0.007521,-0.003918,0.008434,-0.001145,0.002017,0.015065,0.019616,0.004140,-0.003744,...,0.004658,-0.011230,0.018215,-0.008527,-0.015602,0.003163,0.010524,-0.011616,0.007295,0.011367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5872,21745,0.005406,0.006275,0.012252,0.003518,0.001400,0.015054,0.015373,0.001532,0.003546,...,0.000217,-0.012921,0.009156,0.005910,0.000438,0.006135,-0.011320,0.003799,0.001067,0.000575
5873,21748,0.004240,0.009213,0.010981,0.000443,-0.003072,0.010702,0.014673,0.005523,0.005780,...,-0.001865,-0.007413,-0.014734,0.001945,-0.000811,0.028341,-0.008311,-0.003058,-0.003190,-0.003324
5874,21749,0.004783,0.017910,0.012128,-0.005683,-0.011613,0.017000,0.007230,0.001315,0.008788,...,-0.019655,0.007329,-0.019695,0.003551,0.006824,-0.013901,0.012523,-0.015617,0.005863,0.000858
5875,21751,0.003835,0.015067,0.015428,-0.002030,0.001205,0.012396,0.011026,-0.001491,0.005310,...,-0.009163,-0.003908,-0.003397,0.001113,0.001634,0.004183,0.006496,0.000367,-0.004507,0.011476
5876,21753,0.007431,0.021419,0.014143,-0.005623,-0.006399,0.008602,0.006831,-0.001018,0.014972,...,0.009483,0.003069,-0.011325,-0.004422,-0.006260,-0.012198,0.006182,0.002799,-0.003232,-0.006565

In [48]:
import IPython

def display(*dfs, head=True):
    for df in dfs:
        IPython.display.display(df.head() if head else df)

In [49]:
def metric(y_true, y_pred):
    return np.mean(np.sum(np.abs(y_true - y_pred), axis=0)/np.sum(y_true, axis=0))

In [50]:
# Giving less importance to FNC features since they are easier to overfit due to high dimensionality.
FNC_SCALE = 1/600

train[fnc_features] *= FNC_SCALE
test[fnc_features] *= FNC_SCALE

In [51]:
# 学習データに対する「目的変数を知らない」予測値と、テストデータに対する予測値を返す関数
def predict_cv(train_x, train_y, test_x, model, target_name):
    preds = []
    preds_test = []
    va_idxes = []
    
    score = []
    mae = []
    rmse = []

    # shuffleしなくても良い
    kf = KFold(n_splits=N_FOLD, shuffle=True, random_state=SEED)

    # クロスバリデーションで学習・予測を行い、予測値とインデックスを保存する
    for i, (tr_idx, va_idx) in enumerate(kf.split(train_x)):
        tr_x, va_x = train_x.iloc[tr_idx].values, train_x.iloc[va_idx].values
        tr_y, va_y = train_y.iloc[tr_idx].values, train_y.iloc[va_idx].values
        model.fit(tr_x, tr_y)
        pred = model.predict(va_x)
        preds.append(pred)
        pred_test = model.predict(test_x)
        preds_test.append(pred_test)
        va_idxes.append(va_idx)
        
        score.append(metric(va_y, pred))
        mae.append(mean_absolute_error(va_y, pred))
        rmse.append(np.sqrt(mean_squared_error(va_y, pred)))
        
    score_cv = np.array(score).mean()
    mae_cv = np.array(mae).mean()
    rmse_cv = np.array(rmse).mean()
    print("{0}_score:{1}".format(target_name, np.round(score_cv, 8)))
    print("{0}_mae:{1}".format(target_name, np.array(mae_cv).mean()))
    print("{0}_rmse:{1}".format(target_name, np.array(rmse_cv).mean()))
    # バリデーションデータに対する予測値を連結し、その後元の順序に並べ直す
    va_idxes = np.concatenate(va_idxes)
    preds = np.concatenate(preds, axis=0)
    order = np.argsort(va_idxes)
    pred_train = preds[order]

    # テストデータに対する予測値の平均をとる
    preds_test = np.mean(preds_test, axis=0)

    return pred_train, preds_test, score_cv

# 1st layer

## SVR

In [52]:
import cudf
import cupy as cp
from cuml import SVR

In [53]:
pred_train_targets_svr = {}
pred_test_targets_svr = {}

pred_train_targets_svr_dfs = {}
pred_test_targets_svr_dfs = {}

overal_score = 0

print("N_FOLD:{}".format(N_FOLD))

for target, c, w in [("age", 60, 0.3),
                     ("domain1_var1", 12, 0.175),
                     ("domain1_var2", 8, 0.175),
                     ("domain2_var1", 9, 0.175),
                     ("domain2_var2", 12, 0.175)]:
    
    train_df = train[train[target].notnull()]
    test_df = test
        
    use_idx = train_df.index
    train_x = train_df.drop([ID]+TARGET_COLS, axis=1)
    train_y = train_df[target]
    test_x = test_df.drop(ID, axis=1)
    svr = SVR(C=c, cache_size=3000.0)
    
    print("-----{}-----".format(target))
    pred_train, preds_test, score_cv = predict_cv(train_x, train_y, test_x, svr, target)
    overal_score += w*score_cv
    pred_train_targets_svr[target] = pred_train
    pred_test_targets_svr[target] = preds_test
    
    pred_train_targets_svr_dfs[target] = pd.Series(pred_train, name="pre_svr_{}".format(target), index=use_idx)
    pred_train_targets_svr_dfs[target] = pd.merge(train['Id'],
                                                  pred_train_targets_svr_dfs[target],
                                                  left_index=True,
                                                  right_index=True)
    pred_test_targets_svr_dfs[target] = pd.Series(preds_test, name="pre_svr_{}".format(target))
    pred_test_targets_svr_dfs[target] = pd.concat([test['Id'], pred_test_targets_svr_dfs[target]], axis=1)
    
    
print('--------------------------------------------')
print("Overal score:", np.round(overal_score, 8))

N_FOLD:5
-----age-----
age_score:0.15343097
age_mae:7.676381117473689
age_rmse:9.733802703244965
-----domain1_var1-----
domain1_var1_score:0.15242233
domain1_var1_mae:7.846333308830879
domain1_var1_rmse:9.777381323664347
-----domain1_var2-----
domain1_var2_score:0.15158517
domain1_var2_mae:8.979757064846757
domain1_var2_rmse:11.456133369024844
-----domain2_var1-----
domain2_var1_score:0.18261044
domain2_var1_mae:8.639560249089286
domain2_var1_rmse:10.963010842037278
-----domain2_var2-----
domain2_var2_score:0.17764703
domain2_var2_mae:9.2196658962058
domain2_var2_rmse:11.796829008469496
--------------------------------------------
Overal score: 0.16227566

In [ ]:
N_FOLD:5
-----age-----
age_score:0.14386585
age_mae:7.197805992588449
age_rmse:9.147440070169111
-----domain1_var1-----
domain1_var1_score:0.15117448
domain1_var1_mae:7.7821543363146235
domain1_var1_rmse:9.704146603836946
-----domain1_var2-----
domain1_var2_score:0.15150079
domain1_var2_mae:8.974771341877382
domain1_var2_rmse:11.44197948977398
-----domain2_var1-----
domain2_var1_score:0.18195558
domain2_var1_mae:8.608609438557298
domain2_var1_rmse:10.934885564728182
-----domain2_var2-----
domain2_var2_score:0.17589358
domain2_var2_mae:9.128640415626789
domain2_var2_rmse:11.735250108597658
--------------------------------------------
Overal score: 0.15875153

In [15]:
for df in pred_train_targets_svr_dfs.values():
    display(df.describe())

       pre_svr_age
count  5877.000000
mean     50.196965
std       9.773460
min      20.334450
25%      43.038603

       pre_svr_domain1_var1
count           5439.000000
mean              51.690685
std                3.147667
min               42.270997
25%               49.528148

       pre_svr_domain1_var2
count           5439.000000
mean              60.021999
std                1.472107
min               53.568409
25%               59.044257

       pre_svr_domain2_var1
count           5838.000000
mean              47.903796
std                2.722549
min               39.380113
25%               45.968108

       pre_svr_domain2_var2
count           5838.000000
mean              52.700527
std                2.335345
min               44.452033
25%               51.082342

In [16]:
for df in pred_train_targets_svr_dfs.values():
    display(df)

      Id  pre_svr_age
0  10001    60.877768
1  10002    55.056918
2  10004    51.727589
3  10005    61.276086
4  10007    44.009071

      Id  pre_svr_domain1_var1
0  10001             53.299463
1  10002             54.708045
2  10004             51.827130
4  10007             49.981281
5  10008             48.348171

      Id  pre_svr_domain1_var2
0  10001             59.728622
1  10002             59.462757
2  10004             60.177994
4  10007             58.200460
5  10008             62.919051

      Id  pre_svr_domain2_var1
0  10001             49.506853
1  10002             48.809679
2  10004             47.702372
3  10005             50.182354
4  10007             46.080720

      Id  pre_svr_domain2_var2
0  10001             50.245806
1  10002             52.669451
2  10004             50.088077
3  10005             54.036360
4  10007             52.361837

In [20]:
pred_train_targets_svr_dfs

{'age':          Id  pre_svr_age
 0     10001    60.877768
 1     10002    55.056918
 2     10004    51.727589
 3     10005    61.276086
 4     10007    44.009071
 ...     ...          ...
 5872  21746    33.566653
 5873  21747    51.158271
 5874  21750    40.541940
 5875  21752    55.981565
 5876  21754    69.335800

 [5877 rows x 2 columns],
 'domain1_var1':          Id  pre_svr_domain1_var1
 0     10001             53.299463
 1     10002             54.708045
 2     10004             51.827130
 4     10007             49.981281
 5     10008             48.348171
 ...     ...                   ...
 5872  21746             50.700319
 5873  21747             48.903705
 5874  21750             49.380542
 5875  21752             54.848841
 5876  21754             58.144500

 [5439 rows x 2 columns],
 'domain1_var2':          Id  pre_svr_domain1_var2
 0     10001             59.728622
 1     10002             59.462757
 2     10004             60.177994
 4     10007             58.200460
 5     10008             62.919051
 ...     ...                   ...
 5872  21746             60.844463
 5873  21747             58.519688
 5874  21750             62.664363
 5875  21752             58.994825
 5876  21754             60.536084

 [5439 rows x 2 columns],
 'domain2_var1':          Id  pre_svr_domain2_var1
 0     10001             49.506853
 1     10002             48.809679
 2     10004             47.702372
 3     10005             50.182354
 4     10007             46.080720
 ...     ...                   ...
 5872  21746             45.499232
 5873  21747             47.681367
 5874  21750             46.724739
 5875  21752             48.854849
 5876  21754             52.857821

 [5838 rows x 2 columns],
 'domain2_var2':          Id  pre_svr_domain2_var2
 0     10001             50.245806
 1     10002             52.669451
 2     10004             50.088077
 3     10005             54.036360
 4     10007             52.361837
 ...     ...                   ...
 5872  21746             50.331900
 5873  21747             54.147085
 5874  21750             53.457566
 5875  21752             54.597196
 5876  21754             53.399367

 [5838 rows x 2 columns]}

In [18]:
pred_test_targets_df.describe()

               age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
count  5877.000000   5877.000000   5877.000000   5877.000000   5877.000000
mean     49.106156     51.863097     60.004661     47.603374     52.864718
std       9.915822      3.152111      1.338472      2.699923      2.228539
min      18.709324     41.851543     55.291618     38.386294     44.883339
25%      41.918888     49.606463     59.091972     45.685065     51.345939
50%      48.801923     51.822725     60.004969     47.625133     52.827454
75%      56.206817     53.968980     60.899827     49.552102     54.336934
max      81.962472     63.161986     65.862538     56.789446     62.539575

In [19]:
pred_test_targets_df

            age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
0     51.174243     50.344552     61.387124     47.831571     58.071251
1     62.799943     54.825729     59.661494     50.494938     51.920740
2     40.416030     50.427917     60.350332     45.898079     53.258320
3     49.488949     52.684360     60.442198     47.899687     51.495168
4     51.861948     55.367383     57.786364     45.597591     58.524878
...         ...           ...           ...           ...           ...
5872  39.215215     50.607787     58.170242     46.252299     54.214536
5873  57.492252     57.586491     60.148703     50.269298     53.274539
5874  42.109480     47.428567     60.133285     45.114528     51.289126
5875  39.902905     51.145214     58.695608     46.097978     56.901258
5876  44.536472     45.792894     61.304168     44.866848     55.409808

[5877 rows x 5 columns]

with open (out_base_path+'/svm_train.pkl', 'wb') as f:
  pkl.dump(pred_train_targets_svr_dfs , f)

with open (out_base_path+'/svm_test.pkl', 'wb') as f:
  pkl.dump(pred_test_targets_svr_dfs , f)

## baysian ridge

In [33]:
from sklearn.linear_model import BayesianRidge

In [34]:
pred_train_targets_bayes_ridge = {}
pred_test_targets_bayes_ridge = {}

pred_train_targets_bayes_ridge_dfs = {}
pred_test_targets_bayes_ridge_dfs = {}

overal_score = 0

print("N_FOLD:{}".format(N_FOLD))

for target, w in [("age", 0.3),
                  ("domain1_var1", 0.175),
                  ("domain1_var2", 0.175),
                  ("domain2_var1", 0.175),
                  ("domain2_var2", 0.175)]:
    
    train_df = train[train[target].notnull()]
    test_df = test
    
    use_idx = train_df.index
    train_x = train_df.drop([ID]+TARGET_COLS, axis=1)
    train_y = train_df[target]
    test_x = test_df.drop(ID, axis=1)
    bayes_ridge = BayesianRidge(n_iter = 3000)
    
    print("-----{}-----".format(target))
    pred_train, preds_test, score_cv = predict_cv(train_x, train_y, test_x, bayes_ridge, target)
    overal_score += w*score_cv
    pred_train_targets_bayes_ridge[target] = pred_train
    pred_test_targets_bayes_ridge[target] = preds_test
    
    pred_train_targets_bayes_ridge_dfs[target] = pd.Series(pred_train, name="pre_bayRidge_{}".format(target), index=use_idx)
    pred_train_targets_bayes_ridge_dfs[target] = pd.merge(train['Id'],
                                                 pred_train_targets_bayes_ridge_dfs[target],
                                                 left_index=True,
                                                 right_index=True)
    pred_test_targets_bayes_ridge_dfs[target] = pd.Series(preds_test, name="pre_bayRidge_{}".format(target))
    pred_test_targets_bayes_ridge_dfs[target] = pd.concat([test['Id'], pred_test_targets_bayes_ridge_dfs[target]], axis=1)
print('--------------------------------------------')
print("Overal score:", np.round(overal_score, 8))

N_FOLD:5
-----age-----
age_score:0.15407941
age_mae:7.70898233877436
age_rmse:9.773844753547484
-----domain1_var1-----
domain1_var1_score:0.15181016
domain1_var1_mae:7.81483173648539
domain1_var1_rmse:9.73727288469124
-----domain1_var2-----
domain1_var2_score:0.15126804
domain1_var2_mae:8.961182584506314
domain1_var2_rmse:11.374317327459853
-----domain2_var1-----
domain2_var1_score:0.18270965
domain2_var1_mae:8.644433577080118
domain2_var1_rmse:10.92767220443795
-----domain2_var2-----
domain2_var2_score:0.17770393
domain2_var2_mae:9.222699847787544
domain2_var2_rmse:11.755947380092314
--------------------------------------------
Overal score: 0.16233488

In [35]:
for df in pred_train_targets_bayes_ridge_dfs.values():
    display(df)

      Id  pre_bayRidge_age
0  10001         57.984566
1  10002         55.692162
2  10004         51.384109
3  10005         63.155981
4  10007         38.455257

      Id  pre_bayRidge_domain1_var1
0  10001                  52.772962
1  10002                  52.731888
2  10004                  53.147598
4  10007                  49.143819
5  10008                  50.327741

      Id  pre_bayRidge_domain1_var2
0  10001                  58.921029
1  10002                  59.463907
2  10004                  58.591673
4  10007                  59.740525
5  10008                  60.185836

      Id  pre_bayRidge_domain2_var1
0  10001                  48.089344
1  10002                  48.590739
2  10004                  46.656754
3  10005                  48.885547
4  10007                  45.776962

      Id  pre_bayRidge_domain2_var2
0  10001                  51.108984
1  10002                  52.114037
2  10004                  51.970405
3  10005                  51.623779
4  10007                  52.073869

In [51]:
for df in pred_train_targets_bayes_ridge_dfs.values():
    display(df)

      Id  pre_bayRidge_age
0  10001         60.906731
1  10002         56.150469
2  10004         52.027515
3  10005         60.813771
4  10007         43.660350

      Id  pre_bayRidge_domain1_var1
0  10001                  53.632844
1  10002                  53.087283
2  10004                  52.085337
4  10007                  49.480579
5  10008                  49.274360

      Id  pre_bayRidge_domain1_var2
0  10001                  58.933031
1  10002                  59.347237
2  10004                  58.739435
4  10007                  59.537922
5  10008                  60.325961

      Id  pre_bayRidge_domain2_var1
0  10001                  48.193288
1  10002                  47.758491
2  10004                  46.646664
3  10005                  48.631294
4  10007                  46.166929

      Id  pre_bayRidge_domain2_var2
0  10001                  50.639470
1  10002                  52.007702
2  10004                  50.433512
3  10005                  51.899048
4  10007                  52.333379

In [19]:
pred_test_targets_df = pd.DataFrame(pred_test_targets_bayes_ridge)

In [20]:
pred_test_targets_df.describe()

               age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
count  5877.000000   5877.000000   5877.000000   5877.000000   5877.000000
mean     49.101251     51.578842     59.260423     47.010165     52.043045
std      10.253920      3.248679      0.609360      2.268347      1.805583
min      16.523534     40.566204     56.705429     39.276899     44.441306
25%      41.717775     49.412594     58.862905     45.453390     50.829426
50%      48.786756     51.636266     59.274635     46.951681     52.020657
75%      56.369883     53.822229     59.675267     48.573986     53.233682
max      83.799690     63.655703     61.563072     55.509670     59.140735

In [32]:
with open (out_base_path+'/1st_layer/bayes_ridge/bayes_ridge_train.pkl', 'wb') as f:
  pkl.dump(pred_train_targets_bayes_ridge_dfs , f)

with open (out_base_path+'/1st_layer/bayes_ridge/bayes_ridge_test.pkl', 'wb') as f:
  pkl.dump(pred_test_targets_bayes_ridge_dfs , f)

## BaggingRegressor

In [33]:
from sklearn.ensemble import BaggingRegressor
from sklearn.linear_model import Ridge

In [34]:
pred_train_targets_bagging_ridge = {}
pred_test_targets_bagging_ridge = {}

pred_train_targets_bagging_ridge_dfs = {}
pred_test_targets_bagging_ridge_dfs = {}

overal_score = 0

print("N_FOLD:{}".format(N_FOLD))

for target, w in [("age", 0.3),
                  ("domain1_var1", 0.175),
                  ("domain1_var2", 0.175),
                  ("domain2_var1", 0.175),
                  ("domain2_var2", 0.175)]:
    
    train_df = train[train[target].notnull()]
    test_df = test
    
    use_idx = train_df.index
    train_x = train_df.drop([ID]+TARGET_COLS, axis=1)
    train_y = train_df[target]
    test_x = test_df.drop(ID, axis=1)
    bagging_ridge = BaggingRegressor(Ridge(alpha = 0.0001), n_estimators=30, random_state=42, max_samples=0.3, max_features=0.3)
    
    print("-----{}-----".format(target))
    pred_train, preds_test, score_cv = predict_cv(train_x, train_y, test_x, bagging_ridge, target)
    overal_score += w*score_cv
    pred_train_targets_bagging_ridge[target] = pred_train
    pred_test_targets_bagging_ridge[target] = preds_test
    
    pred_train_targets_bagging_ridge_dfs[target] = pd.Series(pred_train, name="pre_bagRidge_{}".format(target), index=use_idx)
    pred_train_targets_bagging_ridge_dfs[target] = pd.merge(train['Id'],
                                                 pred_train_targets_bagging_ridge_dfs[target],
                                                 left_index=True,
                                                 right_index=True)
    pred_test_targets_bagging_ridge_dfs[target] = pd.Series(preds_test, name="pre_bagRidge_{}".format(target))
    pred_test_targets_bagging_ridge_dfs[target] = pd.concat([test['Id'], pred_test_targets_bagging_ridge_dfs[target]], axis=1)
print('--------------------------------------------')
print("Overal score:", np.round(overal_score, 8))

N_FOLD:5
-----age-----
age_score:0.15654808
age_mae:7.832188182838176
age_rmse:9.921246660639346
-----domain1_var1-----
domain1_var1_score:0.15174499
domain1_var1_mae:7.811524677935125
domain1_var1_rmse:9.741961737957592
-----domain1_var2-----
domain1_var2_score:0.1512827
domain1_var2_mae:8.962070866690551
domain1_var2_rmse:11.37958733519789
-----domain2_var1-----
domain2_var1_score:0.18204006
domain2_var1_mae:8.612704637894279
domain2_var1_rmse:10.90189050016232
-----domain2_var2-----
domain2_var2_score:0.17620516
domain2_var2_mae:9.144951611773752
domain2_var2_rmse:11.678986585192925
--------------------------------------------
Overal score: 0.16268718

In [35]:
for df in pred_train_targets_bagging_ridge_dfs.values():
    display(df, head=False)

         Id  pre_bagRidge_age
0     10001         60.274152
1     10002         54.894260
2     10004         52.387315
3     10005         54.920694
4     10007         45.028738
...     ...               ...
5872  21746         40.155311
5873  21747         50.833635
5874  21750         45.212725
5875  21752         52.072927
5876  21754         64.808132

[5877 rows x 2 columns]

         Id  pre_bagRidge_domain1_var1
0     10001                  54.624309
1     10002                  53.095975
2     10004                  51.403625
4     10007                  49.663154
5     10008                  48.031579
...     ...                        ...
5872  21746                  48.399123
5873  21747                  48.752210
5874  21750                  51.879631
5875  21752                  55.656525
5876  21754                  57.500286

[5439 rows x 2 columns]

         Id  pre_bagRidge_domain1_var2
0     10001                  58.081457
1     10002                  58.119624
2     10004                  59.881164
4     10007                  56.098351
5     10008                  60.112737
...     ...                        ...
5872  21746                  59.641840
5873  21747                  57.868394
5874  21750                  61.189195
5875  21752                  58.527484
5876  21754                  59.627876

[5439 rows x 2 columns]

         Id  pre_bagRidge_domain2_var1
0     10001                  49.031462
1     10002                  44.822946
2     10004                  47.289573
3     10005                  46.401744
4     10007                  46.403485
...     ...                        ...
5872  21746                  46.786267
5873  21747                  47.029436
5874  21750                  47.063534
5875  21752                  46.580832
5876  21754                  48.621620

[5838 rows x 2 columns]

         Id  pre_bagRidge_domain2_var2
0     10001                  50.733896
1     10002                  51.268865
2     10004                  48.887204
3     10005                  51.278491
4     10007                  51.736203
...     ...                        ...
5872  21746                  49.793648
5873  21747                  52.856192
5874  21750                  51.826613
5875  21752                  50.755409
5876  21754                  53.775585

[5838 rows x 2 columns]

In [37]:
with open (out_base_path+'/1st_layer/bagging_ridge/bagging_ridge_train.pkl', 'wb') as f:
  pkl.dump(pred_train_targets_bagging_ridge_dfs , f)

with open (out_base_path+'/1st_layer/bagging_ridge/bagging_ridge_test.pkl', 'wb') as f:
  pkl.dump(pred_test_targets_bagging_ridge_dfs , f)

# 2nd layer

In [40]:
with open(out_base_path + '/1st_layer/svm/svm_train.pkl', 'rb') as f:
  pred_train_targets_svr_dfs = pkl.load(f)

with open(out_base_path + '/1st_layer/svm/svm_test.pkl', 'rb') as f:
  pred_test_targets_svr_dfs = pkl.load(f)

In [41]:
with open(out_base_path + '/1st_layer/bayes_ridge/bayes_ridge_train.pkl', 'rb') as f:
  pred_train_targets_bayes_ridge_dfs = pkl.load(f)

with open(out_base_path + '/1st_layer/bayes_ridge/bayes_ridge_test.pkl', 'rb') as f:
  pred_test_targets_bayes_ridge_dfs = pkl.load(f)

In [42]:
with open(out_base_path + '/1st_layer/bagging_ridge/bagging_ridge_train.pkl', 'rb') as f:
  pred_train_targets_bagging_ridge_dfs = pkl.load(f)

with open(out_base_path + '/1st_layer/bagging_ridge/bagging_ridge_test.pkl', 'rb') as f:
  pred_test_targets_bagging_ridge_dfs = pkl.load(f)

In [43]:
for i, pred_df in enumerate(pred_train_targets_svr_dfs.values()):
    if i == 0:
        pred_train_dfs = pred_df
        #display(pred_train_dfs, head=False)
    else:
        pred_train_dfs = pd.concat([pred_train_dfs, pred_df.drop("Id", axis=1)], axis=1)
        #display(pred_train_dfs, head=False)

for i, pred_df in enumerate(pred_train_targets_bayes_ridge_dfs.values()):
    pred_train_dfs = pd.concat([pred_train_dfs, pred_df.drop("Id", axis=1)], axis=1)

for i, pred_df in enumerate(pred_train_targets_bagging_ridge_dfs.values()):
    pred_train_dfs = pd.concat([pred_train_dfs, pred_df.drop("Id", axis=1)], axis=1)

pred_train_dfs = pd.concat([pred_train_dfs, train[TARGET_COLS]], axis=1)

In [44]:
for i, pred_df in enumerate(pred_test_targets_svr_dfs.values()):
    if i == 0:
        pred_test_dfs = pred_df
        #display(pred_test_dfs, head=False)
    else:
        pred_test_dfs = pd.concat([pred_test_dfs, pred_df.drop("Id", axis=1)], axis=1)
        #display(pred_test_dfs, head=False)

for i, pred_df in enumerate(pred_test_targets_bayes_ridge_dfs.values()):
    pred_test_dfs = pd.concat([pred_test_dfs, pred_df.drop("Id", axis=1)], axis=1)

for i, pred_df in enumerate(pred_test_targets_bagging_ridge_dfs.values()):
    pred_test_dfs = pd.concat([pred_test_dfs, pred_df.drop("Id", axis=1)], axis=1)

In [45]:
pred_train_dfs

,Id,pre_svr_age,pre_svr_domain1_var1,pre_svr_domain1_var2,pre_svr_domain2_var1,pre_svr_domain2_var2,pre_bayRidge_age,pre_bayRidge_domain1_var1,pre_bayRidge_domain1_var2,pre_bayRidge_domain2_var1,...,pre_bagRidge_age,pre_bagRidge_domain1_var1,pre_bagRidge_domain1_var2,pre_bagRidge_domain2_var1,pre_bagRidge_domain2_var2,age,domain1_var1,domain1_var2,domain2_var1,domain2_var2
0,10001,60.877768,53.299463,59.728622,49.506853,50.245806,60.906731,53.632844,58.933031,48.193288,...,60.274152,54.624309,58.081457,49.031462,50.733896,57.436077,30.571975,62.553736,53.325130,51.427998
1,10002,55.056918,54.708045,59.462757,48.809679,52.669451,56.150469,53.087283,59.347237,47.758491,...,54.894260,53.095975,58.119624,44.822946,51.268865,59.580851,50.969456,67.470628,60.651856,58.311361
2,10004,51.727589,51.827130,60.177994,47.702372,50.088077,52.027515,52.085337,58.739435,46.646664,...,52.387315,51.403625,59.881164,47.289573,48.887204,71.413018,53.152498,58.012103,52.418389,62.536641
3,10005,61.276086,NaN,NaN,50.182354,54.036360,60.813771,NaN,NaN,48.631294,...,54.920694,NaN,NaN,46.401744,51.278491,66.532630,NaN,NaN,52.108977,69.993075
4,10007,44.009071,49.981281,58.200460,46.080720,52.361837,43.660350,49.480579,59.537922,46.166929,...,45.028738,49.663154,56.098351,46.403485,51.736203,38.617381,49.197021,65.674285,40.151376,34.096421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5872,21746,33.566653,50.700319,60.844463,45.499232,50.331900,34.199012,50.407656,59.896793,45.761590,...,40.155311,48.399123,59.641840,46.786267,49.793648,14.257265,21.358872,61.165998,51.778483,54.640179
5873,21747,51.158271,48.903705,58.519688,47.681367,54.147085,51.591765,48.533070,58.785206,48.017085,...,50.833635,48.752210,57.868394,47.029436,52.856192,55.456978,68.169675,29.907995,55.349257,54.019517
5874,21750,40.541940,49.380542,62.664363,46.724739,53.457566,41.323194,49.492569,59.906589,46.374749,...,45.212725,51.879631,61.189195,47.063534,51.826613,48.948756,55.114811,60.878271,38.617246,50.679885
5875,21752,55.981565,54.848841,58.994825,48.854849,54.597196,55.273854,55.548991,59.230211,48.076530,...,52.072927,55.656525,58.527484,46.580832,50.755409,66.532630,59.844808,72.303110,55.458281,46.870235
5876,21754,69.335800,58.144500,60.536084,52.857821,53.399367,68.594275,58.342144,59.515583,51.267313,...,64.808132,57.500286,59.627876,48.621620,53.775585,68.820928,56.594193,34.605868,49.922535,50.383078

In [46]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [53]:
layer2_pred_train_targets_bayes_ridge = {}
layer2_pred_test_targets_bayes_ridge = {}

layer2_pred_train_targets_bayes_ridge_dfs = {}
layer2_pred_test_targets_bayes_ridge_dfs = {}

overal_score = 0

print("N_FOLD:{}".format(N_FOLD))

for target, w in [("age", 0.3),
                  ("domain1_var1", 0.175),
                  ("domain1_var2", 0.175),
                  ("domain2_var1", 0.175),
                  ("domain2_var2", 0.175)]:
    target_columns = pred_train_dfs.loc[
        :, pred_train_dfs.columns.str.contains('_'+target)
    ].columns
    train_df2 = pred_train_dfs[pred_train_dfs[target].notnull()]
    use_idx = train_df2.index
    train_x_2 = train_df2[target_columns]
    ss.fit(train_x_2)
    train_x_2 = ss.fit_transform(train_x_2)
    train_x_2 = pd.DataFrame(train_x_2)
    
    train_y = train_df2[target]
    
    test_df2 = pred_test_dfs
    test_x_2 = test_df2[target_columns]
    test_x_2 = ss.fit_transform(test_x_2)
    test_x_2 = pd.DataFrame(test_x_2)
    
    bayes_ridge = BayesianRidge(n_iter = 3000)
    
    print("-----{}-----".format(target))
    pred_train, preds_test, score_cv = predict_cv(train_x_2, train_y, test_x_2, bayes_ridge, target)
    overal_score += w*score_cv
    layer2_pred_train_targets_bayes_ridge[target] = pred_train
    layer2_pred_test_targets_bayes_ridge[target] = preds_test
    
    layer2_pred_train_targets_bayes_ridge_dfs[target] = pd.Series(pred_train, name="pre_bayRidge_2{}".format(target), index=use_idx)
    layer2_pred_train_targets_bayes_ridge_dfs[target] = pd.merge(train['Id'],
                                                 pred_train_targets_bayes_ridge_dfs[target],
                                                 left_index=True,
                                                 right_index=True)
    layer2_pred_test_targets_bayes_ridge_dfs[target] = pd.Series(preds_test, name="pre_bayRidge_2{}".format(target))
    layer2_pred_test_targets_bayes_ridge_dfs[target] = pd.concat([test['Id'], pred_test_targets_bayes_ridge_dfs[target]], axis=1)

    
    
print('--------------------------------------------')
print("Overal score:", np.round(overal_score, 8))

N_FOLD:5
-----age-----
age_score:0.14290134
age_mae:7.149529179204238
age_rmse:9.075374630095723
-----domain1_var1-----
domain1_var1_score:0.15088524
domain1_var1_mae:7.7673042896042315
domain1_var1_rmse:9.675497704182074
-----domain1_var2-----
domain1_var2_score:0.1510644
domain1_var2_mae:8.949167631465432
domain1_var2_rmse:11.363296479985333
-----domain2_var1-----
domain2_var1_score:0.18185343
domain2_var1_mae:8.603910642572405
domain2_var1_rmse:10.887120573571538
-----domain2_var2-----
domain2_var2_score:0.1761039
domain2_var2_mae:9.139730031829178
domain2_var2_rmse:11.67886425063955
--------------------------------------------
Overal score: 0.15835412

In [50]:
layer2_pred_train_targets_bayes_ridge

{'age': array([60.92924035, 55.73604921, 51.81919287, ..., 40.97878948,
        55.48744612, 69.10405092]),
 'domain1_var1': array([53.84935261, 53.62270235, 51.86451086, ..., 49.90640618,
        55.63106104, 58.50533207]),
 'domain1_var2': array([58.75069171, 58.89048743, 59.30978808, ..., 60.43484748,
        59.12801405, 59.48083869]),
 'domain2_var1': array([48.72933569, 46.66900097, 46.8495291 , ..., 46.58282476,
        47.3205666 , 50.67291197]),
 'domain2_var2': array([50.38281153, 51.63701494, 49.29237313, ..., 52.06460545,
        51.77865179, 53.18323709])}

In [66]:
for df in layer2_pred_train_targets_bayes_ridge_dfs.values():
    display(df.describe())
#pred_train_targets_df = pd.DataFrame(layer2_pred_train_targets_bayes_ridge)
pred_test_targets_df = pd.DataFrame(layer2_pred_test_targets_bayes_ridge)

       pre_bayRidge_age
count       5877.000000
mean          50.038717
std           10.038128
min           19.518356
25%           42.842211

       pre_bayRidge_domain1_var1
count                5439.000000
mean                   51.492404
std                     3.185482
min                    40.796837
25%                    49.327597

       pre_bayRidge_domain1_var2
count                5439.000000
mean                   59.245596
std                     0.645455
min                    56.373948
25%                    58.836050

       pre_bayRidge_domain2_var1
count                5838.000000
mean                   47.321834
std                     2.256074
min                    40.439732
25%                    45.751823

       pre_bayRidge_domain2_var2
count                5838.000000
mean                   51.903249
std                     1.865373
min                    40.634094
25%                    50.685836

In [58]:
with open (out_base_path+'/2nd_layer/bayes_ridge/bayes_ridge_train.pkl', 'wb') as f:
  pkl.dump(layer2_pred_test_targets_bayes_ridge_dfs , f)

with open (out_base_path+'/2nd_layer/bayes_ridge/bayes_ridge_test.pkl', 'wb') as f:
  pkl.dump(pred_test_targets_bagging_ridge_dfs , f)

# Submit

In [67]:
test_df = pd.concat([test['Id'], pred_test_targets_df], axis=1)

In [68]:
test_df

         Id        age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
0     10003  55.738271     49.272082     58.923767     48.935058     56.170406
1     10006  63.345616     54.309045     58.703233     48.824776     51.730516
2     10010  39.413663     49.760247     59.352942     45.258089     52.595287
3     10011  51.463856     52.165475     59.870948     48.533458     50.852033
4     10012  52.983837     55.607438     56.904215     47.033798     57.313630
...     ...        ...           ...           ...           ...           ...
5872  21745  40.615615     51.048883     58.895316     46.151702     53.875924
5873  21748  56.423210     56.542430     59.787313     47.663472     52.674281
5874  21749  41.860067     46.538843     59.483453     45.494613     50.876778
5875  21751  41.134915     50.540838     58.966287     45.408914     55.829795
5876  21753  42.681691     43.072001     60.080654     45.039687     53.507063

[5877 rows x 6 columns]

In [69]:
test_df.describe()

               age  domain1_var1  domain1_var2  domain2_var1  domain2_var2
count  5877.000000   5877.000000   5877.000000   5877.000000   5877.000000
mean     50.034353     51.474304     59.243701     47.325159     51.906001
std      10.056516      3.187426      0.761660      2.329861      1.954629
min      18.409352     40.724298     56.108591     39.214262     44.376592
25%      42.773848     49.283917     58.728511     45.703129     50.550420
50%      49.779117     51.506635     59.258790     47.325113     51.857983
75%      57.178739     53.672268     59.767707     48.975285     53.178788
max      82.650448     63.315376     61.618214     55.540099     60.278996

In [72]:
test_df.to_csv('/media/hiroki/working/kaggle/trends-neuroimaging/models/submit/stacking_pre_test_df.csv')

In [73]:
sub_df = pd.melt(test_df[["Id", "age", "domain1_var1", "domain1_var2", "domain2_var1", "domain2_var2"]], id_vars=["Id"], value_name="Predicted")
sub_df["Id"] = sub_df["Id"].astype("str") + "_" +  sub_df["variable"].astype("str")

sub_df = sub_df.drop("variable", axis=1).sort_values("Id")
assert sub_df.shape[0] == test_df.shape[0]*5
sub_df.head(10)

                       Id  Predicted
0               10003_age  55.738271
5877   10003_domain1_var1  49.272082
11754  10003_domain1_var2  58.923767
17631  10003_domain2_var1  48.935058
23508  10003_domain2_var2  56.170406
1               10006_age  63.345616
5878   10006_domain1_var1  54.309045
11755  10006_domain1_var2  58.703233
17632  10006_domain2_var1  48.824776
23509  10006_domain2_var2  51.730516

In [74]:
sub_df.to_csv('/media/hiroki/working/kaggle/trends-neuroimaging/models/submit/submit.csv', index=False)