In [1]:
import numpy as np
import pandas as pd

import pickle as pkl

import gc
from sklearn.model_selection import KFold
from cuml.metrics import mean_absolute_error, mean_squared_error

import seaborn as sns

In [2]:
out_base_path = '/media/hiroki/working/kaggle/trends-neuroimaging/models'

In [3]:
OUTPUT_DICT = ''

ID = 'Id'
TARGET_COLS = ['age', 'domain1_var1', 'domain1_var2', 'domain2_var1', 'domain2_var2']
SEED = 2020

N_FOLD = 5

In [4]:
#base_path2 = '/media/hiroki/share/kaggle_data/trends-assessment-prediction/tf_data'
#fnc = pd.read_csv(base_path2+'/pca'+'/fnc_pca.csv', dtype={'Id':str})
#loading = pd.read_csv(base_path2+'/ica'+'/loading_ica.csv', dtype={'Id':str})

In [5]:
base_path = '/media/hiroki/share/kaggle_data/trends-assessment-prediction/'
train = pd.read_csv(base_path+'train_scores.csv', dtype={'Id':str})\
            #.dropna().reset_index(drop=True) # to make things easy
reveal_ID = pd.read_csv(base_path+'reveal_ID_site2.csv', dtype={'Id':str})
ICN_numbers = pd.read_csv(base_path+'ICN_numbers.csv')
loading = pd.read_csv(base_path+'loading.csv', dtype={'Id':str})
fnc = pd.read_csv(base_path+'fnc.csv', dtype={'Id':str})
sample_submission = pd.read_csv(base_path+'sample_submission.csv', dtype={'Id':str})

In [6]:
ic_loading = pd.read_csv("/media/hiroki/working/kaggle/trends-neuroimaging/tf_data/ica/loading_ica.csv", dtype={'Id':str})
pc_fnc = pd.read_csv("/media/hiroki/working/kaggle/trends-neuroimaging/tf_data/pca/fnc_pca.csv", dtype={'Id':str})

In [7]:
fnc_features, loading_features = list(fnc.columns[1:]), list(loading.columns[1:])

In [8]:
sample_submission['ID_num'] = sample_submission[ID].apply(lambda x: int(x.split('_')[0]))
test = pd.DataFrame({ID: sample_submission['ID_num'].unique().astype(str)})
del sample_submission['ID_num']; gc.collect()
test.head()

      Id
0  10003
1  10006
2  10010
3  10011
4  10012

In [9]:
test.head()

      Id
0  10003
1  10006
2  10010
3  10011
4  10012

In [10]:
# merge
train = train.merge(loading, on=ID, how='left')
train = train.merge(fnc, on=ID, how='left')
train = train.merge(ic_loading, on=ID, how='left')
train = train.merge(pc_fnc, on=ID, how='left')
train

,Id,age,domain1_var1,domain1_var2,domain2_var1,domain2_var2,IC_01,IC_07,IC_05,IC_16,...,CBN(13)_vs_DMN(94),CBN(18)_vs_DMN(94),CBN(4)_vs_DMN(94),CBN(7)_vs_DMN(94),CBN(18)_vs_CBN(13),CBN(4)_vs_CBN(13),CBN(7)_vs_CBN(13),CBN(4)_vs_CBN(18),CBN(7)_vs_CBN(18),CBN(7)_vs_CBN(4)
0,10001,57.436077,30.571975,62.553736,53.325130,51.427998,0.006070,0.014466,0.004136,0.000658,...,-0.149279,0.552841,0.131046,0.335446,0.394867,-0.042853,0.124627,-0.060712,0.515964,0.290488
1,10002,59.580851,50.969456,67.470628,60.651856,58.311361,0.009087,0.009291,0.007049,-0.002076,...,-0.214216,-0.039792,0.143014,-0.189962,0.498373,0.444231,0.592438,0.028649,0.705524,0.248327
2,10004,71.413018,53.152498,58.012103,52.418389,62.536641,0.004675,0.000957,0.006154,-0.000429,...,-0.130339,0.309540,0.141469,0.030853,0.344394,0.214097,0.317556,0.012435,0.665937,0.081358
3,10005,66.532630,NaN,NaN,52.108977,69.993075,-0.000398,0.006878,0.009051,0.000369,...,-0.139525,0.394932,0.040443,0.428334,0.498837,0.266755,0.227379,0.028984,0.752343,0.087898
4,10007,38.617381,49.197021,65.674285,40.151376,34.096421,0.005192,0.010585,0.012160,-0.000920,...,-0.150218,0.408926,0.072004,0.157582,0.532046,0.355448,0.462675,0.161005,0.703679,0.293607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5872,21746,14.257265,21.358872,61.165998,51.778483,54.640179,-0.001115,0.007108,0.008652,0.003596,...,-0.249481,0.205351,0.012067,0.310750,0.426335,0.193812,0.158720,0.055471,0.568766,0.160516
5873,21747,55.456978,68.169675,29.907995,55.349257,54.019517,0.007263,0.016489,0.012704,0.004357,...,-0.119170,0.201846,-0.008290,0.119828,0.551936,0.598931,0.511816,0.303312,0.704483,0.461588
5874,21750,48.948756,55.114811,60.878271,38.617246,50.679885,0.005996,0.003873,0.012353,0.000242,...,-0.103786,0.375065,0.104857,0.262614,0.502715,0.322353,0.458041,0.343754,0.705207,0.341224
5875,21752,66.532630,59.844808,72.303110,55.458281,46.870235,0.000627,0.011407,0.010957,0.000534,...,0.229712,0.431489,0.039062,0.119474,0.523894,0.445209,0.332011,0.228977,0.560968,0.263504
5876,21754,68.820928,56.594193,34.605868,49.922535,50.383078,0.010670,0.010670,0.006662,-0.002215,...,0.341059,0.390722,0.234821,0.487450,0.294131,0.459764,0.475639,0.080498,0.529851,0.381040

In [11]:
# merge
test = test.merge(loading, on=ID, how='left')
test = test.merge(fnc, on=ID, how='left')
test = test.merge(ic_loading, on=ID, how='left')
test = test.merge(pc_fnc, on=ID, how='left')
test

,Id,IC_01,IC_07,IC_05,IC_16,IC_26,IC_06,IC_10,IC_09,IC_18,...,CBN(13)_vs_DMN(94),CBN(18)_vs_DMN(94),CBN(4)_vs_DMN(94),CBN(7)_vs_DMN(94),CBN(18)_vs_CBN(13),CBN(4)_vs_CBN(13),CBN(7)_vs_CBN(13),CBN(4)_vs_CBN(18),CBN(7)_vs_CBN(18),CBN(7)_vs_CBN(4)
0,10003,0.008151,0.014684,0.010444,-0.005293,-0.002913,0.015042,0.017745,0.003930,-0.008021,...,-0.154941,0.136850,-0.022361,0.137625,0.677972,0.409412,0.563892,0.438684,0.618204,0.284474
1,10006,0.000334,0.005311,0.010053,0.006920,-0.000065,0.015310,0.016543,0.004794,0.003982,...,-0.053606,0.240957,0.270419,0.367692,0.354501,0.486364,0.416908,0.285274,0.693490,0.448526
2,10010,0.007103,0.006144,0.009770,-0.002884,-0.001346,0.015651,0.011613,-0.003291,0.013423,...,-0.244332,0.272077,0.193523,0.192254,0.563982,0.124482,0.488926,0.083368,0.774299,0.129327
3,10011,0.004362,0.010240,0.010167,0.004492,-0.001623,0.017381,0.014680,0.007453,0.008786,...,-0.099726,0.557121,0.042626,0.179456,0.416546,0.445402,0.436909,0.165182,0.591561,0.306678
4,10012,-0.007521,-0.003918,0.008434,-0.001145,0.002017,0.015065,0.019616,0.004140,-0.003744,...,-0.025230,0.203298,0.173427,0.046047,0.561599,0.418268,0.609517,0.218285,0.790285,0.301010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5872,21745,0.005406,0.006275,0.012252,0.003518,0.001400,0.015054,0.015373,0.001532,0.003546,...,0.179080,0.580813,0.202241,0.254870,0.458581,0.434638,0.587167,0.009854,0.472956,0.342085
5873,21748,0.004240,0.009213,0.010981,0.000443,-0.003072,0.010702,0.014673,0.005523,0.005780,...,-0.106345,0.234340,0.138985,0.343382,0.708744,0.312812,0.536501,0.214803,0.849512,0.204741
5874,21749,0.004783,0.017910,0.012128,-0.005683,-0.011613,0.017000,0.007230,0.001315,0.008788,...,-0.165575,0.170154,-0.029638,0.383761,0.398305,0.578621,0.357127,0.009479,0.609545,0.317230
5875,21751,0.003835,0.015067,0.015428,-0.002030,0.001205,0.012396,0.011026,-0.001491,0.005310,...,-0.087604,0.131902,-0.047932,0.022317,0.583869,0.596734,0.515209,0.379589,0.568422,0.439016
5876,21753,0.007431,0.021419,0.014143,-0.005623,-0.006399,0.008602,0.006831,-0.001018,0.014972,...,-0.147730,0.206375,0.096594,0.317651,0.545878,0.411197,0.230889,0.167354,0.221668,0.371357

In [12]:
import IPython

def display(*dfs, head=True):
    for df in dfs:
        IPython.display.display(df.head() if head else df)

In [13]:
def metric(y_true, y_pred):
    return np.mean(np.sum(np.abs(y_true - y_pred), axis=0)/np.sum(y_true, axis=0))

In [14]:
# Giving less importance to FNC features since they are easier to overfit due to high dimensionality.
#FNC_SCALE = 1/600

#train[fnc_features] *= FNC_SCALE
#test[fnc_features] *= FNC_SCALE

In [15]:
# 学習データに対する「目的変数を知らない」予測値と、テストデータに対する予測値を返す関数
def predict_cv(train_x, train_y, test_x, model, target_name):
    preds = []
    preds_test = []
    va_idxes = []
    
    score = []
    mae = []
    rmse = []

    # shuffleしなくても良い
    kf = KFold(n_splits=N_FOLD, shuffle=True, random_state=SEED)

    # クロスバリデーションで学習・予測を行い、予測値とインデックスを保存する
    for i, (tr_idx, va_idx) in enumerate(kf.split(train_x)):
        tr_x, va_x = train_x.iloc[tr_idx].values, train_x.iloc[va_idx].values
        tr_y, va_y = train_y.iloc[tr_idx].values, train_y.iloc[va_idx].values
        model.fit(tr_x, tr_y)
        pred = model.predict(va_x)
        preds.append(pred)
        pred_test = model.predict(test_x)
        preds_test.append(pred_test)
        va_idxes.append(va_idx)
        
        score.append(metric(va_y, pred))
        #mae.append(mean_absolute_error(va_y, pred))
        #rmse.append(np.sqrt(mean_squared_error(va_y, pred)))
        
    score_cv = np.array(score).mean()
    #mae_cv = np.array(mae).mean()
    #rmse_cv = np.array(rmse).mean()
    print("{0}_score:{1}".format(target_name, np.round(score_cv, 8)))
    #print("{0}_mae:{1}".format(target_name, np.array(mae_cv).mean()))
    #print("{0}_rmse:{1}".format(target_name, np.array(rmse_cv).mean()))
    # バリデーションデータに対する予測値を連結し、その後元の順序に並べ直す
    va_idxes = np.concatenate(va_idxes)
    preds = np.concatenate(preds, axis=0)
    order = np.argsort(va_idxes)
    pred_train = preds[order]

    # テストデータに対する予測値の平均をとる
    preds_test = np.mean(preds_test, axis=0)

    return pred_train, preds_test, score_cv

# 1st layer

## RF

In [16]:
from sklearn.ensemble import RandomForestRegressor

In [17]:
pred_train_targets_knr = {}
pred_test_targets_knr = {}

pred_train_targets_knr_dfs = {}
pred_test_targets_knr_dfs = {}

overal_score = 0

print("N_FOLD:{}".format(N_FOLD))

for target, depth in [("age", 30),
                      ("domain1_var1", 30),
                      ("domain1_var2", 30),
                      ("domain2_var1", 30),
                      ("domain2_var2", 30)]:
    
    train_df = train[train[target].notnull()]
    test_df = test
        
    use_idx = train_df.index
    train_x = train_df.drop([ID]+TARGET_COLS, axis=1).astype("float32")
    train_y = train_df[target].astype("float32")
    test_x = test_df.drop(ID, axis=1).astype("float32")
    rf = RandomForestRegressor(max_depth=depth)
    
    print("-----{}-----".format(target))
    pred_train, preds_test, score_cv = predict_cv(train_x, train_y, test_x, rf, target)
    overal_score += w*score_cv
    pred_train_targets_knr[target] = pred_train
    pred_test_targets_knr[target] = preds_test
    
    pred_train_targets_knr_dfs[target] = pd.Series(pred_train, name="pre_rf_{}".format(target), index=use_idx)
    pred_train_targets_knr_dfs[target] = pd.merge(train['Id'],
                                                  pred_train_targets_knr_dfs[target],
                                                  left_index=True,
                                                  right_index=True)
    pred_test_targets_knr_dfs[target] = pd.Series(preds_test, name="pre_rf_{}".format(target))
    pred_test_targets_knr_dfs[target] = pd.concat([test['Id'], pred_test_targets_knr_dfs[target]], axis=1)
    
    
print('--------------------------------------------')
print("Overal score:", np.round(overal_score, 8))
#200:0.17859491

N_FOLD:5
-----age-----

MemoryError: std::bad_alloc: CUDA error at: /conda/conda-bld/librmm_1591196517113/work/include/rmm/mr/device/cuda_memory_resource.hpp66: cudaErrorMemoryAllocation out of memory

In [20]:
for df in pred_train_targets_knr_dfs.values():
    display(df.describe())

       pre_knr_age
count  5877.000000
mean     49.567886
std       6.958747
min      31.902924
25%      44.116432

       pre_knr_domain1_var1
count           5439.000000
mean              51.523045
std                1.854355
min               46.006893
25%               50.189930

       pre_knr_domain1_var2
count           5439.000000
mean              59.411621
std                0.998819
min               56.286606
25%               58.721275

       pre_knr_domain2_var1
count           5838.000000
mean              47.412621
std                1.457301
min               42.930439
25%               46.361115

       pre_knr_domain2_var2
count           5838.000000
mean              51.606758
std                1.188373
min               48.174004
25%               50.740938

In [16]:
for df in pred_train_targets_knr_dfs.values():
    display(df)

      Id  pre_svr_age
0  10001    60.877768
1  10002    55.056918
2  10004    51.727589
3  10005    61.276086
4  10007    44.009071

      Id  pre_svr_domain1_var1
0  10001             53.299463
1  10002             54.708045
2  10004             51.827130
4  10007             49.981281
5  10008             48.348171

      Id  pre_svr_domain1_var2
0  10001             59.728622
1  10002             59.462757
2  10004             60.177994
4  10007             58.200460
5  10008             62.919051

      Id  pre_svr_domain2_var1
0  10001             49.506853
1  10002             48.809679
2  10004             47.702372
3  10005             50.182354
4  10007             46.080720

      Id  pre_svr_domain2_var2
0  10001             50.245806
1  10002             52.669451
2  10004             50.088077
3  10005             54.036360
4  10007             52.361837

In [22]:
for i, pred_df in enumerate(pred_train_targets_knr_dfs.values()):
    if i == 0:
        pred_train_dfs = pred_df
    else:
        pred_train_dfs = pd.concat([pred_train_dfs, pred_df.drop("Id", axis=1)], axis=1)

In [23]:
for i, pred_df in enumerate(pred_test_targets_knr_dfs.values()):
    if i == 0:
        pred_test_dfs = pred_df
        #display(pred_train_dfs, head=False)
    else:
        pred_test_dfs = pd.concat([pred_test_dfs, pred_df.drop("Id", axis=1)], axis=1)
        #display(pred_train_dfs, head=False)

In [24]:
pred_train_dfs

,Id,pre_knr_age,pre_knr_domain1_var1,pre_knr_domain1_var2,pre_knr_domain2_var1,pre_knr_domain2_var2
0,10001,58.579739,52.227528,59.565750,47.277256,50.603771
1,10002,57.168205,52.395531,59.227043,47.784794,50.775257
2,10004,51.257458,52.518513,58.674698,47.557449,51.710136
3,10005,57.543938,NaN,NaN,49.855473,51.064487
4,10007,42.947926,49.985779,60.776917,45.188019,52.591808
...,...,...,...,...,...,...
5872,21746,44.743279,52.174969,59.816620,46.257805,50.213261
5873,21747,52.211586,51.370998,61.022194,48.501656,51.463165
5874,21750,48.756733,51.304272,60.420307,46.952251,51.790058
5875,21752,52.345413,52.895702,58.890129,49.035107,51.604050
5876,21754,66.111534,54.208714,58.748596,49.081493,49.027855

In [25]:
#pred_train_dfs.to_csv('/media/hiroki/working/kaggle/trends-neuroimaging/models/1st_layer/knr/knr_train.csv', index=False)
#pred_test_dfs.to_csv('/media/hiroki/working/kaggle/trends-neuroimaging/models/1st_layer/knr/knr_test.csv', index=False)